body {
  background-image: url("./img_css/silva_ufc.jpg");
  margin: 5%;
  padding: 5%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
}

.title {
  text-align: center;
  margin-top: 30px;
  padding: 0;
}

.form_so {
  text-align: center;
  margin-top: 50px;
  padding: 0;
}

.text-white {
  color: blanchedalmond;
  font-family: "Caveat", cursive;
  /* font-size: 67px; */
}

.background_card {
  background-color: rgba(27, 22, 22, 0.711);
}

.card {
  display: flex;
  margin-top: 20px;

}

.card_element {
  width: 50%;
  /* margin: 0 auto; */
  border: solid rgba(241, 238, 238, 0.438);
  
}

.card_element img {
  width: 100%; 
}

.card_text {
  padding: 5px 10px;
}

.text_center {
  margin-bottom: 50px;
  text-align: center;
}

.aka-color{
  color: red;
  font-weight: bold;
}

/* #combattants{

  margin: 0 auto;
  /* border: solid red 1px; */
 */


